<div class="business">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        {{> navlist}}
      </div>
      
      <div class="col-xs-7 col-xs-offset-1">
        <h3><strong>出版业务</strong></h3>
        <hr>
        <p>
          好多童书专业出版机构，成立于2009年。致力于高品质童书的策划与发行。坚持“以纯净的阅读，沉淀世界的喧嚣”的出版理念，在以年为周期的出版计划中，都会领先市场，推出新品童书达百部以上。为读者朋友奉献最为真挚的阅读体验，满足了大众对于知识多样化与高品质视听内容的不同需求，出版图书涵盖家庭教育、少儿读物、人文社科、时尚娱乐、大众生活等多个领域。多年来好多童书不断挖掘品牌的精髓，注重将阅读重新带回纸质实体，享受将知识捧在手心里的感觉。用专业的策划和市场营销方案在传统图书销售的基础上迈上一个更高的台阶的同时，尊重市场的进程，坚持正确的童书理念。在新的发展周期内，又组建了策划部与网络部，使得好多童书出品的一系列童书在品质与销售上又上升到了新的高度。
        </p>
        <p>
          <br>
        </p>
        <h3><strong>设计业务</strong></h3>
        <hr>
        <p>
          好多童书的设计理念始于2003年，十余年不断洞察市场和品牌趋势，深度剖析品牌精髓，好多童书集结了目前设计领域最优秀的设计团队，以最灵敏的嗅觉捕捉时尚的风向，把握最前沿的时尚脉络。以独到的艺术视角，品评当下最流行的时尚元素。以匠心独运的设计手法，引领业界风尚的走向。
        </p>
        <p>
          近年来越来越多的图书品牌与机构牌寻求与好多童书的合作。而好多童书无懈可击的全案策划能力也征服了越来越多的品牌客户，包括企业形象、品牌包装与设计、网络互动和终端店面设计及调查研究服务在内，好多童书已经将服务的内容细致到客户所需要的各个层面上，协助客户建立、更新以及强化其品牌效能。
        </p>
        <p>
          好多童书致力于清晰地将客户的品牌和产品优点利用策略、创意及美术性逐一带出，同时运用具体的设计，令客户的品牌和产品卓然而立。让顾客对品牌和商品之间产生积极的互动。好多童书对于品牌的把握，更注重于市场策略、视觉品牌形象、风格调性、包装、广告、终端形象、以及利用网络互动和新型创新模式和科技效应。
        </p>
        <p>
          <br>
        </p>
        <h3><strong>发行业务</strong></h3>
        <hr>
        <p>
          <strong>批发：</strong>
          好多童书向全国近千家图书经销商，包括新华书店、民营书店、图书馆中盘商等提供图书批发服务。
        </p>
        <p>
          <strong>零售：</strong>
          好多童书出版物零售业务分别由线上天猫旗舰店负责和线下的各级代理商负责。
        </p>
        <p>
          <strong>自营天猫专营店：</strong>
           开设天猫专营店，改变纯粹“货架式”销售，使销售平台转变为消费者连接平台，使发行业务更贴近读者的消费习惯，提升好多童书的营销能力。
         </p>
         <p>
           好多童书覆盖了全国绝大部分地区的国营、民营销售渠道，与各地经销商以及当当、卓越等网上图书销售商长期保持了良好的合作关系，发行网络已覆盖国内的各大中小城市，图书销售渠道畅通。通过外销渠道，部分图书还远销香港等地区，深受读者的好评。极大的推动了两岸文化的交流。好多童书现向全国诚征各级代理商，愿更多有识之士与好多童书共创美好的明天。
         </p>
         <p>
           <address>
             <abbr title="Phone">咨询电话：</abbr> 0431-85575556
           </address>
        </p>
      </div>
    </div>
  </div>
</div>