<div class="company">
  <div class="container">
    <div class="jumbotron">
      <h1>好多童书</h1>
      <p>好多童书™是知谦文化传播®旗下的一款致力于儿童读物出版发行的...</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    </div>
  </div>
</div>

<div class="team">
  <div class="container">
    <h3>团队</h3>
    <div class="row">
      <div class="col-xs-6 col-md-3 col-lg-2">
        <a class="thumbnail" href="#"
          data-toggle="tooltip" data-placement="top" title="金波 - 著名儿童文学作家">
          <img class="img-responsive" src="/img/team/jinbo.png" alt="金波">
        </a>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-2">
        <a class="thumbnail" href="#"
          data-toggle="tooltip" data-placement="top" title="安武林 - 著名儿童文学作家">
          <img class="img-responsive" src="/img/team/anwulin.png" alt="安武林">
        </a>
      </div>
    </div>
  </div>
</div>