<div class="company">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <img class="img-responsive" src="/img/bg-business.jpg" alt="">
      </div>
      
      <div class="col-xs-7 col-xs-offset-1">
        <h3><strong>公司简介</strong></h3>
        <hr>
        <p>
          好多童书专业出版机构，成立于2009年。致力于高品质童书的策划与发行。坚持“以纯净的阅读，沉淀世界的喧嚣”的出版理念，在以年为周期的出版计划中，都会领先市场，推出新品童书达百部以上。为读者朋友奉献最为真挚的阅读体验，满足了大众对于知识多样化与高品质视听内容的不同需求，出版图书涵盖家庭教育、少儿读物、人文社科、时尚娱乐、大众生活等多个领域。多年来好多童书不断挖掘品牌的精髓，注重将阅读重新带回纸质实体，享受将知识捧在手心里的感觉。用专业的策划和市场营销方案在传统图书销售的基础上迈上一个更高的台阶的同时，尊重市场的进程，坚持正确的童书理念。在新的发展周期内，又组建了策划部与网络部，使得好多童书出品的一系列童书在品质与销售上又上升到了新的高度。
        </p>
        <p>
          2012年与著名幼儿教育心理学专家张向葵教授合作，出版了家庭教育类图书《孩子的问题不是问题》，在不到一年的销售周期内，取得了销售超过三万册的业绩。在保证销量的同时也得到了广大家长读者的认可与好评。
        </p>
        <p>
          2013年好多童书的诚意之作，《中国原创童话》系列上市月余，销量便突破万册，在读者称颂和推荐下，销量仍在以惊人的速度递增。
        </p>
        <p>
          随着《中国原创童话系列》第一季的成功，在市场上引起了一系列连锁反应，很多知名的图书机构和媒体都对《中国原创童话》产生了浓厚的兴趣。在总结了《中国原创童话》第一季种种经验，在2013年好多童书继续联手杜斌老师打造了“绿色童书”的诚意之作——《猪小锅和狼小怪》系列童话作品。
        </p>
        <p>
          《猪小锅和狼小怪》讲述了一只充满了想象力的猪和一只性格特立独行的狼之间的故事，本该是天敌的一对活宝，却成了关系和谐融洽的好朋友。这对奇怪的组合在一起有过种种奇怪的历程，也制造了许多啼笑皆非的闹剧。就是这样一对看似不靠谱的混搭小伙伴，举手投足间彰显了童话独有的喜剧魅力，也正是这两个刻画鲜明的人物形象，让故事的情节饱满富有张力，碰撞出了令童年充满欢笑的花火，带给每一个读者小朋友一段奇妙的梦幻旅程。
        </p>
        <p>
          该系列上市前期不仅被多家图书机构与媒体一致看好，更是受到了诸多名家的一致好评，得到了著名作家金波、曹文轩、安武林，著名幼儿教育心理学专家张向葵教授联名推荐。
        </p>
        <p>
          相信在不久的将来，“绿色童书”的概念会得到越来越多的读者朋友接受并认可，也会有越来越多的后继者将这一概念升华并传承下去。而好多童书也一定会将这场关于童话与健康阅读的革命进行到底。这是好多童书的责任，也是使命。
        </p>
        <p>
          以口碑带动销量，以品质呈现阅读，是好多童书孜孜以求的信仰。在《孩子的问题不是问题》一书刚刚上市，就引起香港三联书店的注意，在感受到三联书店的诚意之后，好多童书便与香港三联书店在内的诸多知名图书品牌达成了真略合作。目前越来越多的图书品牌期待着与好多童书的合作，在业绩的鼓舞下好多童书却并不盲目，一切都会在保证品质的前提下择优而取。
        </p>
        <p>
          随着网络销售渠道的日益扩张，越来越多的订单纷至沓来。好多童书更是与邮政、商超连锁等诸多商家成为合作伙伴，进一步拓宽了旗下图书的经营销售方式，使得好多童书不仅在阅读的品质上叫好又叫座，在销售的领域里也渐渐成为了一支不可小觑的力量。
        </p>
      </div>
    </div>
  </div>
</div>
