<ul class="list-unstyled navlist">
  <li>
    <a href="/company">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <strong>公司概况</strong>
    </a>
  </li>
  <li>
    <a href="/business">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <strong>经营业务</strong>
    </a>
  </li>
  <li>
    <a href="http://zq17.taobao.com" target="_blank">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <strong>图书商城</strong>
    </a>
  </li>
  <li>
    <a href="/product">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <strong>产品中心</strong>
    </a>
  </li>
</ul>