<div class="product">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{> navlist}}
      </div>
      
      <div class="col-xs-12 col-md-7 col-md-offset-1">
        <h3><strong>产品中心</strong></h3>
        <hr>
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/十万个为什么6本.jpg" alt="十万个为什么6本">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/找不同6本.jpg" alt="找不同6本">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/脑力思维训练营.jpg" alt="脑力思维训练营">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/大描红.jpg" alt="大描红">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/小描红.jpg" alt="小描红">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/猪小锅.jpg" alt="猪小锅">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/猪小锅2.jpg" alt="猪小锅2">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/吉美文学.jpg" alt="吉美文学">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/吉美童话.jpg" alt="吉美童话">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/孩子的问题不是问题.jpg" alt="孩子的问题不是问题">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/睡前总动员4本.jpg" alt="睡前总动员4本">
        <img class="col-xs-6 col-md-4 thumbnail" src="/img/product/描图简笔画套装.jpg" alt="描图简笔画套装">
      </div>
    </div>
  </div>
</div>
