<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关注好多童书微信</title>
    <style>
    html, body {
      height: 100%;
      font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #666;
    }
    img.arrow {
      width: 30%;
      float: right;
    }
    img.view, img.add {
      width: 100%;
    }
    </style>
  </head>
  
  <body>
    <img class="arrow" src="/img/arrow-top-right.jpg" alt="箭头">
    <img class="view" src="/img/wechat-view.jpg" alt="查看公众号">
    <img class="add" src="/img/wechat-add.jpg" alt="添加公众号">
  </body>
</html>
