<!DOCTYPE html>
<html>

<head>
  {{> head}}
</head>

<body>
  {{> nav}}
  
  <div class="container marketing">
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-12">
        <iframe width="800" height="520" frameborder="0" scrolling="no" src="http://vote.weibo.com/widget?vid=2954813&skin=5&isCustom=0&setPicSize=0&rowSize=5&width=326&height=520&titleSize=s&picSize=120&pad=20&isResult=1&isAuto=0"></iframe>
      </div>
    </div>
  </div>
  
  {{> footer}}

  <div id="modals"></div>
  
  {{> script}}
</body>

</html>
