<div class="hidden">
  <img src="/img/slide-outlets.jpg" alt="微信缩略图">
</div>

{{# iswx}}
<div class="poll">
  <div class="container">
    {{# myvote}}
    <div class="row">
      <div class="col-xs-12">
        <h3 class="">
          您的选择: {{code}}号{{name}}.
        </h3>
        <p>
          <a href="http://wap.koudaitong.com/v2/showcase/coupon/fetch?alias=gtyzq20d">感谢您的参与, 附赠微商城10元优惠卷一张, 点击领取.</a>
        </p>
      </div>
    </div>
    {{/ myvote}}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
          <input class="form-control input-lg" type="search" placeholder="搜索姓名或编号...">
        </div>
      </div>
    </div>
    
    <div class="row">
      {{# options}}
      <div class="col-xs-6 col-md-4 col-lg-3 drawing"
        data-code="{{code}}" data-name="{{name}}" data-vote="{{vote}}">
        <div class="thumbnail">
          <a href="#" data-toggle="modal" data-target=".drawing-modal">
            <img class="img-responsive"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
              data-src="http://123.57.151.44/img/poll/outlets/200/{{code}} {{name}}.jpg" alt="{{name}}"
              width="200" height="133">
          </a>
          <span class="badge">{{index}}</span>
          <h4><span class="label label-default name">{{code}} - {{name}}</span></h4>
          {{# vote}}
          <h4>
            <span class="label label-default vote">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              {{vote}}
            </span>
          </h4>
          {{/ vote}}
        </div>
      </div>
      {{/ options}}
    </div>
  </div>
</div>

<div id="modals">
  <div class="modal fade drawing-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive center-block vote-drawing" src="#" alt="">
          <div class="jumbotron vote-result hidden">
            <div class="container">
              <h3 class="text-success">投票成功!</h3>
              <p class="text-success">
                恭喜您获得由好多童书提供的微店铺10元优惠卷.
              </p>
              <p>
                <a class="btn btn-primary btn-lg"
                  href="http://wap.koudaitong.com/v2/showcase/coupon/fetch?alias=gtyzq20d" role="button">
                  前去领取
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">投他一票</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/ iswx}}

{{^ iswx}}
<div class="poll">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>公众微信号</h1>
        <p>请关注好多童书公众微信号之后进行投票.</p>
        <p><img class="" src="/img/wechat-qrcode.jpg" alt="微信二维码"></p>
      </div>
    </div>
  </div>
</div>
{{/ iswx}}